body {
    padding: 10px;
    background-image: none;
    position: static;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    font-family: "Arial";
}

a { 
    text-decoration: none;
    font-weight: bold;
    color: black;
}

div#headerblock {
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

div#progressblock {
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
}

div#progressblock ul {
    list-style-type: none;
    text-align: center;
    height: 40px;
}

div#progressblock ul li {
    display: inline-block;
    margin: 0px 10px;
    height: 40px;
}

div#progressblock ul li div {
    float: right;
    white-space: nowrap;
    padding-top: 10px;
}

div#progressblock ul li img {
    float: left;
    padding: 5px;
}

div#progressblock ul li.current {
    font-weight: bold;
}

div#bodyblock {
    padding: 25px;
    margin: 10px;
    border: 1px solid #ccc;
}

hr.fadebar {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

div.stepcontent {
    display: inline-block;
    width: 100%;
}

div.steptext {
    font-size: 24px;
    font-weight: bold;
    padding-top: 12px;
    float: left;
}

div.stepcontent img {
    padding: 10px;
    float: left;
}

div#indentblock {
    margin: 10px;
    font-size: 12px;
}

/* Social icons */

.facebookicon {
    width: 42px;
    height: 42px;
    background: url('/assets/social.jpg') -29px -133px;
}

.twittericon {
    width: 42px;
    height: 42px;
    background: url('/assets/social.jpg') -79px -133px;
}

.text-red {
    color: red;
}

.text-grey {
    color: grey;
}

.form-group.required .control-label:after { 
    content: '*';
    color: red;
    padding-left: 5px;
}

/* Step 1 style */

div.socialblock {
    cursor: pointer;
    width: 300px;
    margin: 10px;
    height: 40px;
    border: 1px solid gray;
}

div.socialblock img {
    margin-top: 12px;
    margin-left: 20px;
}

div.socialblock div {
    width: 225px;
    margin-top: 12px;
    float: right;
}

div#termsofuse {
    margin: 10px;
}

div#termsofuse div#termshtml {
    padding: 10px;
    width: 100%;
    border: 1px solid #aaa;
    height: 300px;
    overflow: scroll;
}

div#termsofuse div#termsofuseconfirm {
    margin-top: 10px;
}

div#termsofuse div#termsofuseconfirm input {
    margin-right: 10px;
}

div#popupdialog {
    display: none;
}

div#popupdialog div#message {
    font-size: 12px;
}

/*
 * Step 3 Style
 */

div#topblock {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

div#topblock div#left {
    float: left;
}

div#topblock div#right {
    float: right;
}

div#textfieldblock {
    width: 100%;
    margin: 10px;
}

div#textfieldblock div#caption {
    font-size: 15px;
    margin-bottom: 2px;
    font-weight: bold;
}

div#textfieldblock input {
    border: 1px solid black;
    height: 35px;
    width: 100%;
    padding: 5px;
    font-size: 12px;
}

div#textfieldblock div#storybox {
    border: 1px solid black;
    padding: 30x;
    font-size: 12px;
    height: 300px;
}

span#required {
    color: red;
    padding: 5px;
}

div#textfieldblock div#photoblock {
    border: 1px solid black;
    padding: 30px;
    font-size: 12px;
    height: 300px;
    overflow: auto;
    position: relative;
}

/*
 * Image Dropzone
 */
#photoblock {
    position: relative;
}

#photoblock .dz-preview,
#photoblock-previews .dz-preview {
    background: rgba(255,255,255,0.8);
    position: relative;
    display: inline-block;
    margin: 17px;
    vertical-align: top;
    border: 1px solid #acacac;
    padding: 6px 6px 6px 6px;
}
#photoblock .dz-preview.dz-file-preview [data-dz-thumbnail],
#photoblock-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
    display: none;
}
#photoblock .dz-preview .dz-details,
#photoblock-previews .dz-preview .dz-details {
    width: 100px;
    height: 100px;
    position: relative;
    background: #ebebeb;
    padding: 5px;
    margin-bottom: 22px;
}
#photoblock .dz-preview .dz-details .dz-filename,
#photoblock-previews .dz-preview .dz-details .dz-filename {
    display: none;
}
#photoblock .dz-preview .dz-details img,
#photoblock-previews .dz-preview .dz-details img {
    absolute: top left;
    width: 100px;
    height: 100px;
}
#photoblock .dz-preview .dz-details .dz-size,
#photoblock-previews .dz-preview .dz-details .dz-size {
    display: none;
}
#photoblock .dz-preview.dz-error .dz-error-mark,
#photoblock-previews .dz-preview.dz-error .dz-error-mark {
    display: block;
}
#photoblock .dz-preview.dz-success .dz-success-mark,
#photoblock-previews .dz-preview.dz-success .dz-success-mark {
    display: block;
}
#photoblock .dz-preview .dz-success-mark,
#photoblock-previews .dz-preview .dz-success-mark,
#photoblock .dz-preview .dz-error-mark,
#photoblock-previews .dz-preview .dz-error-mark {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    right: -10px;
    top: -10px;
}
#photoblock .dz-preview .dz-success-mark,
#photoblock-previews .dz-preview .dz-success-mark {
    color: #8cc657;
}
#photoblock .dz-preview .dz-error-mark,
#photoblock-previews .dz-preview .dz-error-mark {
    color: #ee162d;
}
#photoblock .dz-preview .dz-progress,
#photoblock-previews .dz-preview .dz-progress {
    position: absolute;
    top: 115px;
    left: 6px;
    right: 6px;
    height: 6px;
    background: #d7d7d7;
    display: none;
}
#photoblock .dz-preview .dz-progress .dz-upload,
#photoblock-previews .dz-preview .dz-progress .dz-upload {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: #8cc657;
}
#photoblock .dz-preview.dz-processing .dz-progress,
#photoblock-previews .dz-preview.dz-processing .dz-progress {
    display: block;
}
#photoblock .dz-preview .dz-error-message,
#photoblock-previews .dz-preview .dz-error-message {
    display: none;
    absolute: top -5px left -20px;
    background: rgba(245,245,245,0.8);
    padding: 8px 10px;
    color: #800;
    min-width: 140px;
    max-width: 500px;
    z-index: 500;
}
#photoblock .dz-preview:hover.dz-error .dz-error-message,
#photoblock-previews .dz-preview:hover.dz-error .dz-error-message {
    display: block;
}
#photoblock .dz-button-box {
    border-top: 1px solid #acacac;
}


div#textfieldblock div#videoblock {
    border: 1px solid black;
    padding: 30x;
    font-size: 12px;
    height: 300px;
}

div#buttonblock {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
    
div#buttonblock div#leftbutton {
    min-width: 100px;
    padding: 0px 10px;
    float: left;
    cursor: pointer; 
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: center;
    margin-left: 25px;
    font-weight: bold;
}

div#buttonblock div#rightbutton {
    min-width: 100px;
    padding: 0px 10px;
    float: right;
    cursor: pointer; 
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: center;
    margin-right: 20px;
    font-weight: bold;
}

div#buttonblock div#leftbutton:hover,
div#buttonblock div#rightbutton:hover {
    background-color: #cb842e;
}

/*
 * Show Story
 */

div.storyblock {
    padding: 10px;
}

div.storyblock div.topicstories {
    width: 100%;
}

div.storyblock div.titleblock {
    padding: 15px;
    font-size: 25px;
    width: 100%;
}

div.storyblock div.dateblock {
    width: 100%;
    font-size: 11px;
    margin-left: 15px;
    color: gray;
}

div.storyblock div.storycontentblock {
    padding: 15px;
    width: 100%;
}

div.storyblock div.shareblock {
    width: 100%;
    display: inline-block;
    margin: 10px 0px;
}

div.storyblock div.shareblock div.share {
    float: left;
}

div.storyblock div.shareblock div {
    font-weight: bold;
    font-size: 14px;
    margin: 10px 10px 0px 10px;
}

div.storyblock div.shareblock div input {
    width: 250px;
    font-size: 14px;
    border: 1px solid black;
    padding: 5px;
}

div.storyblock div.shareblock ul {
    margin: 0;
    list-style-type: none;
}

div.storyblock div.shareblock ul li {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

div.storyblock div.imagegalleryblock {
    border: 1px solid gray;
    width: 100%;
    height: 350px;
}

/*
 * Embed Remote
 */
div.storybody {
    padding: 10px;
}

div.grayborder {
    border: 1px solid #ccc;
}

.sharetop {
    padding-bottom: 10px;
}

.thumbnail img {
    min-height: 150px;
    height: 150px;
}

img.profilephoto {
    max-width: 64px;
    max-height: 64px;
}

div.story {
    margin: 10px;
    padding-top: 10px;
}

div.topicstories {
    width: 100%;
}

div.topicstorydateblock {
    width: 100%;
    font-size: 11px;
    margin-left: 15px;
    margin-top: 5px;
    color: gray;
}

.editbuttons {
    margin-bottom: 5px;
    width: 100px !important;
}

